.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.feedback::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.feedback::-webkit-scrollbar-track {
  background: #1F1F26;        /* color of the tracking area */
}

.feedback::-webkit-scrollbar-thumb {
  background-color: #A8A8A8;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #1F1F26;  /* creates padding around scroll thumb */
}
